.main-chat

  .header-main
    .group-info
      .group-info__name
        = @group.group_name
      .group-info__member
        Member : 
        - @group.users.each do |user|
          = user.name
          さん
    = link_to edit_group_path(@group.id), class: "edit-btn" do
      Edit

  .message-list
    = render @messages
    
  .form
    = form_for [@group, @message] do |form|
      .input-field
        = form.text_field :content, class: "text-field", placeholder:"type a message"
        .file-btn      
          = form.label :image, class:"file-btn__image-btn" do
            = icon('far', 'image')
            = form.file_field :image, class:"file-btn__image-btn__dummy"   
      = form.submit class:"send-btn", value:"Send" 
    
